// Roxo
$roxo-1: #F7F2FA;
$roxo-2: #E6B6EE;
$roxo-3: #D2B5F7;
$roxo-4: #6E5CC2;
$roxo-5: #514390;

// Paleta de cores
$color-primary-1: #F4F9FF;
$color-primary-2: #B5DBFF;
$color-primary-3: #ABCBF9;
$color-primary-4: #3488FF;
$color-primary-5: #006AFF;
