html{
  overflow-y: auto !important;
  font-size: 16px !important;
  padding: 0 !important;
}

.main-content {
  background-color: #EEF2FA;
  height: 100%;
  // padding-left: 56px !important;
  & > * {
    // padding-top: 24px;
    // padding-bottom: 24px;
    // margin: 0px 24px;
  }
}
