.page {
  padding: 0;

  .page-header {
    background-color: #11CDEF;
    padding: 40px 20px 40px 80px !important;
    height: 400px;

    display: grid;
    grid-template: "breadcrumb search notification profile" 80px / 1fr auto auto auto;
    align-items: center;
    margin-bottom: 24px;


    &__breadcrumbs {
      grid-area: breadcrumb;
      align-self: start;
    }

    &__search-card {
      grid-area: search;
      align-self: start;
      align-content: center;
    }

    &__profile-menu {
      grid-area: profile;
      justify-self: end;
      display: flex;
      align-items: center;
    }
  }
}
